#container-image {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid #0a0a0a;
    z-index: 1;
    overflow: hidden;
}

.point {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(5, 249, 249);
    border-radius: 50%;
    cursor: pointer;
}

#coordinates {
    margin-top: 10px;
}
.image{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -5;
    transition: transform 0.3s; /* Zoom efekti için geçiş süresi */
    transform-origin: 0 0; /* zoomu sol üst köşeden başlattım */
}

.middle{
    padding: 40px;
}
.input{
    padding: 10px;
}
.input-container{
   width: 350px;
}
.button-container{
    width: 120px;
}